{% extends 'dashboard_uno.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/features/individualWiretaps/individualWiretaps.css' %}">
<script type="text/javascript" src="{% static 'js/features/individualWiretaps.js' %}"></script>
{% endblock %}

{% block content %}

<!-- <nav class="navbar navbarTextMenu">
  <div class="container-fluid container-link">
      <div class="navbarText">Individui - Intercettazioni Telefoniche</div>
      <div class="navbarTextLink">
          <a class="navbarTextLink1" href="{% url 'team' %}">About</a>
          <a class="navbarTextLink2" href="#">Contatti</a>
          <a class="navbarTextLink2" href="#">Chi Siamo</a> -->
           <!-- Button trigger modal 
          <button type="button" class="navbarTextLink3 accordionContainerButtonAdd" data-bs-toggle="modal" data-bs-target="#modalIndividualWiretaps" onclick="openModalAddNewCallIndividualWiretaps()">
            Inserisci
          </button> 
      </div>
  </div>
</nav> -->

<div class="title">Grafo delle Intercettazioni Telefoniche</div>

<div class="d-flex w-100 bd-highlight containerFlex">
    <div class="riga">
      <div class="cyContainer p-2 flex-grow-1 bd-highlight containerFlex1">
        <div class="cyContent"></div>
      </div>
      <div class="accordionContainer p-3 bd-highlight containerFlex2">
        <div class="accordion">
        <!-- Properties -->
          <div class="accordion-item accordion-item-graph">
            <input type="checkbox" id="item-properties" class="accordionCheckboxLabel"/>
            <label for="item-properties" class="accordion-header">
              <span class="accordion-header-container">
                <div class="accordion-header-container-icon">
                  <ion-icon name="information-circle" class="accordion-icon"></ion-icon>
                </div>
                <div class="accordionButtonOne">Proprietà della Rete</div>
              </span>
              <span class="accordionArrow accordionIconToggleRight">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
              </span>
            </label>
            <div class="accordion-content">
              <div class="accordion-body">
                <div class="accordionNumberNodesEdges">
                  <div class="accordionNumberNodesEdgesIndividual">
                    <div>Individui</div>
                    <div class="accordionNumberNodesEdgesIndividualContent"></div>
                  </div>
                  <!--<hr></hr>-->
                  <div class="accordionNumberNodesEdgesCall">
                    <div>Chiamate</div>
                    <div class="accordionNumberNodesEdgesCallContent"></div>
                  </div>
                  <hr></hr>
                  <div class="accordionNumberNodesEdgesNodes">
                    <div class="accordionNumberNodesEdgesNodesTitle">Totale Nodi</div>
                    <div class="accordionNumberNodesEdgesNodesContent"></div>
                  </div>
                  <!--<hr></hr>-->
                  <div class="accordionNumberNodesEdgesEdges">
                    <div class="accordionNumberNodesEdgesEdgesTitle">Totale Archi</div>
                    <div class="accordionNumberNodesEdgesEdgesContent"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Details -->
        <div class="accordion">
          <div class="accordion-item accordion-item-graph">
            <input type="checkbox" id="item-details" class="accordionCheckboxLabel"/>
            <label for="item-details" class="accordion-header">
              <span class="accordion-header-container">
                <div class="accordion-header-container-icon">
                  <ion-icon name="color-wand-outline" class="accordion-icon"></ion-icon>
                </div>
                <div class="accordionButtonTwo">Informazioni</div>
              </span>
              <span class="accordionArrow accordionIconToggleRight">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
              </span>
            </label>
            <div class="accordion-content">
              <div class="accordion-body">
                <div class="infoIndividualWiretapsNode">
  
                  <div class="infoIndividualWiretapsNodeId d-flex">
                    <div>Identificativo</div>
                    <div class="infoIndividualWiretapsNodeIdContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsNodeSurname d-flex">
                    <div>Cognome</div>
                    <div class="infoIndividualWiretapsNodeSurnameContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsNodeName d-flex">
                    <div>Nome</div>
                    <div class="infoIndividualWiretapsNodeNameContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsNodeBirth d-flex">
                    <div>Data Nascita</div>
                    <div class="infoIndividualWiretapsNodeBirthContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsNodeNation d-flex">
                    <div>Paese</div>
                    <div class="infoIndividualWiretapsNodeNationContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsNodeProvince d-flex">
                    <div>Provincia</div>
                    <div class="infoIndividualWiretapsNodeProvinceContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsNodeResidence d-flex">
                    <div>Città</div>
                    <div class="infoIndividualWiretapsNodeResidenceContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsNodeCap d-flex">
                    <div>Cap</div>
                    <div class="infoIndividualWiretapsNodeCapContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsNodeAddress d-flex">
                    <div>Indirizzo</div>
                    <div class="infoIndividualWiretapsNodeAddressContent"></div>
                  </div>
  
                  <!--<div class="infoIndividualWiretapsNodeButton d-flex flex-end">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalIndividualWiretaps" onclick="openModalUpdateIndividualIndividualWiretaps()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalDeleteIndividualWiretaps" onclick="openModalDeleteIndividualIndividualWiretaps()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                      </svg>
                    </button>
                  </div>-->
                </div>
  
                <div class="infoIndividualWiretapsEdge">
                  <div class="infoIndividualWiretapsEdgeId d-flex">
                    <div>Identificativo</div>
                    <div class="infoIndividualWiretapsEdgeIdContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsEdgeDate d-flex">
                    <div>Data</div>
                    <div class="infoIndividualWiretapsEdgeDateContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsEdgeDuration d-flex">
                    <div>Durata chiamata</div>
                    <div class="infoIndividualWiretapsEdgeDurationContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsEdgeTime d-flex">
                    <div>Ora chiamata</div>
                    <div class="infoIndividualWiretapsEdgeTimeContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsEdgeSource d-flex">
                    <div>Mittente</div>
                    <div class="infoIndividualWiretapsEdgeSourceContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsEdgeTarget d-flex">
                    <div>Destinatario</div>
                    <div class="infoIndividualWiretapsEdgeTargetContent"></div>
                  </div>
                  <hr></hr>
                  <div class="infoIndividualWiretapsEdgeContent d-flex">
                    <div>Contenuto</div>
                    <button type="button" id="showContentPopup" class="btn btn-link">Visualizza Contenuto</button>
                  </div>
                  <!--<div class="infoIndividualWiretapsEdgeButton d-flex flex-end">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalIndividualWiretaps" onclick="openModalUpdateCallIndividualWiretaps()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalDeleteIndividualWiretaps" onclick="openModalDeleteCallIndividualWiretaps()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                      </svg>
                    </button>
                  </div>-->
                </div>
  
                <div class="infoIndividualWiretapsNot">
                  Non ci sono informazioni da visualizzare al momento
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Settings -->
        <div class="accordion">
          <div class="accordion-item accordion-item-graph">
            <input type="checkbox" id="item-settings" class="accordionCheckboxLabel"/>
            <label for="item-settings" class="accordion-header">
              <span class="accordion-header-container">
                <div class="accordion-header-container-icon">
                  <ion-icon name="cog" class="accordion-icon"></ion-icon>
                </div>
                <div class="accordionButtonThree">Analisi della Rete</div>
              </span>
              <span class="accordionArrow accordionIconToggleRight">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
              </span>
            </label>
            <div class="accordion-content">
              <div class="accordion-body">
                <!--<div class="d-flex flex-wrap accordionCheckboxNodeEdge">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualWiretaps()" id="CheckNodes" checked>
                    <label class="form-check-label" for="CheckNodes">
                      Nomi Nodi
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualWiretaps()" id="CheckEdges">
                    <label class="form-check-label" for="CheckEdges">
                      Nomi Archi
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" onclick="checkedAnonymizationIndividualWiretaps()" id="CheckAnonymization">
                    <label class="form-check-label" for="CheckEdges">
                      Anonimizzazione
                    </label>
                  </div>
                </div>-->
                <div class="d-flex accordionLayoutMetrics">
                  <!--<div class="d-flex flex-column">
                    <div for="recipient-layout" class="col-form-label">
                      Layout
                    </div>
                    <select class="form-select selectLayout" class="form-control" id="recipient-layout" aria-label="Default select example" onchange="changeLayoutIndividualWiretaps();">
                      <option value="circle">Cerchio</option>
                      <option value="dagre">Dagre</option>
                      <option value="fcose" selected>Force Atlas</option>
                    </select>
                  </div>-->
                  <div class="d-flex flex-column">
                    <div  class="col-form-label">
                      Intervallo di Tempo
                    </div>
                    <div class="divInputDate">
                      <form action="#" data-bs-target="#formDates" class="ws-validate" name="formDates">
                        <div class="form-row">
                          <!-- max of the first date equals value of the second -->
                          <!-- mmin of the second date equals value of the first -->
                          <input data-dependent-validation='{"from": "date-to", "prop": "max"}' type="date" id="date-from" name="date_from" placeholder="from" />
                          <input data-dependent-validation='{"from": "date-from", "prop": "min"}' type="date" id="date-to" name="date_to" placeholder="to" />
                          <input class="sub" type="button"  value="Vai" onclick="getGraphByDates()"/>
                        </div>   
                      </form>
                    </div>
                    <div for="recipient-metrics" class="col-form-label">
                      Metriche
                    </div>
                    <select class="form-select selectMetrics" class="form-control" id="recipient-metrics" aria-label="Default select example" onchange="changeMetricIndividualWiretaps();">
                      <option value="Default" selected>Default</option>
                      <option value="PageRank">PageRank</option>
                      <option value="Betweenness">Betweenness</option>
                      <option value="Closeness">Closeness</option>
                      <option value="Degree">Degree</option>
                      <option value="InDegree">InDegree</option>
                      <option value="OutDegree">OutDegree</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="riga">
      <div class="containerFlex3">
        <!-- Slider temporale -->
        <div class="timeline-container">
          <h1 class="title-timeline">Slider Temporale</h1>
          <div class="timeline">
            <div class="line"></div>
            <div class="selector left-selector"></div>
            <div class="selector right-selector"></div>
          </div>
          <div class="date-display">
            From: <span id="start-date">Set 2003</span>     To: <span id="end-date">Dic 2006</span>
          </div>
        </div>
      </div>
      <div class="containerFlex4"></div>
    </div>

</div>



<!-- Modal 
<div class="modal fade" id="modalIndividualWiretaps" class="modalIndividualWiretaps" tabindex="-1" aria-labelledby="modalIndividualWiretapsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalIndividualWiretapsLabel">Nuova Intercettazione</h1>
        <button type="button" class="btn-close btnCloseModalAddUpdate" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> -->
        <!--<nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-0-tab" data-bs-toggle="tab" data-bs-target="#nav-0" type="button" role="tab" aria-controls="nav-2" aria-selected="true">2</button>
            <button class="nav-link" id="nav-1-tab" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1" aria-selected="false">1</button>
            <button class="nav-link" id="nav-2-tab" data-bs-toggle="tab" data-bs-target="#nav-2" type="button" role="tab" aria-controls="nav-0" aria-selected="false">0</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent"> -->
          <!-- <div class="tab-pane fade show active" id="nav-0" role="tabpanel" aria-labelledby="nav-0-tab">
            <form class="modalForm modalFormAddUpdateCall">
              <div class="modalContainer">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value=""  onclick="checkedSourceAndTargetModalIndividualWiretaps()"  id="CheckSourceExisting">
                    <label class="form-check-label" for="CheckSourceExisting">
                      Inserisci mittente già registrato
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" onclick="checkedSourceAndTargetModalIndividualWiretaps()" id="CheckTargetExisting">
                    <label class="form-check-label" for="CheckTargetExisting">
                      Inserisci ricevente già registrato
                    </label>
                  </div>
                </div>
              </div>

              <div class="accordion accordionSource">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSource">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSource" aria-expanded="true" aria-controls="collapseSource">
                      Dati nuovo mittente
                    </button>
                  </h2>
                  <div id="collapseSource" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="modalContainer">
                        <div class="mb-3">
                          <label for="recipient-surname-source" class="col-form-label">Cognome</label>
                          <input type="text" class="form-control modalIndividualWiretapsSourceSurname" id="recipient-surname-source" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'>
                        </div>
                        <div class="mb-3">
                          <label for="recipient-name-source" class="col-form-label">Nome</label>
                          <input type="text" class="form-control modalIndividualWiretapsSourceName" id="recipient-name-source" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' step="1">
                        </div>
                        <div class="mb-3">
                          <label for="recipient-date-source" class="col-form-label">Data di Nascita</label>
                          <input type="date" class="form-control modalIndividualWiretapsSourceDate" id="recipient-date-source" step="1">
                        </div>
                        <div class="mb-3">
                          <label for="recipient-nation-source" class="col-form-label">Paese</label>
                          <input type="text" class="form-control modalIndividualWiretapsSourceNation" id="recipient-nation-source" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' step="1" >
                        </div>
                      </div>
                      <div class="modalContainer">
                        <div class="mb-3">
                          <label for="recipient-province-source" class="col-form-label">Provincia</label>
                          <input type="text" class="form-control modalIndividualWiretapsSourceProvince " id="recipient-province-source" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' step="1" >
                        </div>
                        <div class="mb-3">
                          <label for="recipient-city-source" class="col-form-label">Città</label>
                          <input type="text" class="form-control modalIndividualWiretapsSourceCity " id="recipient-city-source" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' step="1" >
                        </div>
                        <div class="mb-3">
                          <label for="recipient-cap-source" class="col-form-label">Cap</label>
                          <input type="number" class="form-control modalIndividualWiretapsSourceCap" id="recipient-cap-source" >
                        </div>
                        <div class="mb-3">
                          <label for="recipient-address-source" class="col-form-label">Indirizzo</label>
                          <input type="text" class="form-control modalIndividualWiretapsSourceAddress " id="recipient-address-source" step="1" >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion accordionTarget">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTarget">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTarget" aria-expanded="false" aria-controls="collapseTarget">
                      Dati nuovo ricevente
                    </button>
                  </h2>
                  <div id="collapseTarget" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="modalContainer">
                        <div class="mb-3">
                          <label for="recipient-surname-target" class="col-form-label">Cognome</label>
                          <input type="text" class="form-control modalIndividualWiretapsTargetSurname" id="recipient-surname-target" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' >
                        </div>
                        <div class="mb-3">
                          <label for="recipient-name-target" class="col-form-label">Nome</label>
                          <input type="text" class="form-control modalIndividualWiretapsTargetName" id="recipient-name-target" step="1" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' >
                        </div>
                        <div class="mb-3">
                          <label for="recipient-date-target" class="col-form-label">Data di Nascita</label>
                          <input type="date" class="form-control modalIndividualWiretapsTargetDate" id="recipient-date-target" step="1" >
                        </div>
                        <div class="mb-3">
                          <label for="recipient-nation-target" class="col-form-label">Paese</label>
                          <input type="text" class="form-control modalIndividualWiretapsTargetNation" id="recipient-nation-target">
                        </div>
                      </div>
                      <div class="modalContainer">
                        
                        <div class="mb-3">
                          <label for="recipient-province-target" class="col-form-label">Provincia</label>
                          <input type="text" class="form-control modalIndividualWiretapsTargetProvince" id="recipient-province-target" step="1" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' >
                        </div>
                        <div class="mb-3">
                          <label for="recipient-city-target" class="col-form-label">Città</label>
                          <input type="text" class="form-control modalIndividualWiretapsTargetCity" id="recipient-city-target" step="1" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' >
                        </div>
                        <div class="mb-3">
                          <label for="recipient-cap-target" class="col-form-label">Cap</label>
                          <input type="number" class="form-control modalIndividualWiretapsTargetCap" id="recipient-cap-target">
                        </div>
                        <div class="mb-3">
                          <label for="recipient-address-target" class="col-form-label">Indirizzo</label>
                          <input type="text" class="form-control modalIndividualWiretapsTargetAddress" id="recipient-address-target" step="1" >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modalContainer">
                <div class="mb-3">
                  <label for="recipient-source" class="col-form-label">Mittente</label>
                  <select class="form-select modalIndividualWiretapsSource" class="form-control" id="recipient-source" aria-label="select example" >
                    <option selected></option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="recipient-target" class="col-form-label">Ricevente</label>
                  <select class="form-select modalIndividualWiretapsTarget" class="form-control" id="recipient-target" aria-label="select example" >
                    <option selected></option>
                  </select>
                </div>
              </div>
    
              <div class="modalContainer">
                <div class="mb-3">
                  <label for="recipient-date" class="col-form-label">Data</label>
                  <input type="date" class="form-control modalIndividualWiretapsDate" id="recipient-date" >
                </div>
                <div class="mb-3">
                  <label for="recipient-duration" class="col-form-label">Durata</label>
                  <input type="time" class="form-control modalIndividualWiretapsDuration" id="recipient-duration" step="1" >
                </div>
                <div class="mb-3">
                  <label for="recipient-time" class="col-form-label">Ora</label>
                  <input type="time" class="form-control modalIndividualWiretapsTime" id="recipient-time" step="1" >
                </div>
              </div>
              
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Contenuto Chiamata</label>
                <textarea class="form-control modalIndividualWiretapsTextarea" name="textarea-content" id="message-text"></textarea>
              </div>
              <button class="submitFormAddUpdateCall" type="submit"></button>
            </form>

            <form class="modalForm modalFormUpdateIndividual">
              
              <div class="modalContainer">
                <div class="mb-3">
                  <label for="recipient-surname-individual" class="col-form-label">Cognome</label>
                  <input type="text" class="form-control modalIndividualWiretapsIndividualSurname" id="recipient-surname-individual" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'>
                </div>
                <div class="mb-3">
                  <label for="recipient-name-individual" class="col-form-label">Nome</label>
                  <input type="text" class="form-control modalIndividualWiretapsIndividualName" id="recipient-name-individual" step="1" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'>
                </div>
                <div class="mb-3">
                  <label for="recipient-date-individual" class="col-form-label">Data di Nascita</label>
                  <input type="date" class="form-control modalIndividualWiretapsIndividualDate" id="recipient-date-individual" step="1">
                </div>
                <div class="mb-3">
                  <label for="recipient-nation-individual" class="col-form-label">Paese</label>
                  <input type="text" class="form-control modalIndividualWiretapsIndividualNation" id="recipient-nation-individual">
                </div>
              </div>
              <div class="modalContainer">
                <div class="mb-3">
                  <label for="recipient-province-individual" class="col-form-label">Provincia</label>
                  <input type="text" class="form-control modalIndividualWiretapsIndividualProvince" id="recipient-province-individual" step="1" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'>
                </div>
                <div class="mb-3">
                  <label for="recipient-city-individual" class="col-form-label">Città</label>
                  <input type="text" class="form-control modalIndividualWiretapsIndividualCity" id="recipient-city-individual" step="1" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'>
                </div>
                <div class="mb-3">
                  <label for="recipient-cap-individual" class="col-form-label">Cap</label>
                  <input type="text" class="form-control modalIndividualWiretapsIndividualCap" id="recipient-cap-individual">
                </div>
                <div class="mb-3">
                  <label for="recipient-address-individual" class="col-form-label">Indirizzo</label>
                  <input type="text" class="form-control modalIndividualWiretapsIndividualAddress" id="recipient-address-individual" step="1">
                </div>
              </div>
              
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
        <button type="button" class="btn btn-success modalButtonSave" onclick="selectFunctionToRegisterDateIndividualWiretaps()">Salva</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Modal per il contenuto della chiamata  -->
<div class="modal fade" id="contentModal" tabindex="-1" aria-labelledby="contentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contentModalLabel">Contenuto della Chiamata</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="callContent"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete 
<div class="modal fade" id="modalDeleteIndividualWiretaps" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDeleteIndividualWiretapsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modalDeleteIndividualWiretapsHeader">
        <h1 class="modal-title fs-5" id="modalDeleteIndividualWiretapsLabel">Modal title</h1>
        <button type="button" class="btn-close btn-close-white btnCloseModalDelete" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modalDeleteIndividualWiretapsBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
        <button type="button" class="btn btn-primary modalDeleteIndividualWiretapsConfirmButton" onclick="selectFunctionToDeleteDateIndividualWiretaps()">Conferma</button>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}